/******************** CSS hbassinot.com ********************/


/********************************************************************************/
/******************** BALISES ********************/
/********************************************************************************/
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #666;
    line-height: 1.8;
    font-family: Verdana,Geneva,sans-serif;
}
hr {
  box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.5);
}
/********************************************************************************/


/********************************************************************************/
/******************** HEADER ********************/
/********************************************************************************/
#hb-header {
  background-color: #1f72b9cc;
  width: 100%;
}

.hb-header-title {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 8px 16px;
}
/********************************************************************************/


/********************************************************************************/
/******************** MENU ********************/
/********************************************************************************/
.hb-menu-animate-opacity {
    animation: opac 0.8s;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-name: opac;
}
.hb-navbar-top {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.hb-menu-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.hb-menu-item-small {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    outline: none;
    white-space: normal;
    float: none;
}

.hb-menu-icon-small::before {
    content: "\f0c9";
}
.hb-menu-icon-small {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.hb-menu-icon-right {
  float: right !important;
}

.hb-menu-top-bar {
  top:0px;
}

@media (max-width:650px) {
  .hb-menu-hide-small {
      display: none !important;
  }
}
@media (min-width:649px) {
  .hb-menu-hide-large {
      display: none !important;
  }
}
/********************************************************************************/


/********************************************************************************/
/******************** BUTTON TOP ********************/
/********************************************************************************/
.hb-backtop-hide {
  display: none;
}

.hb-backtop-visible {
  display: block !important;
  position: fixed;
  right: 0;
  bottom: 50px;
}
/********************************************************************************/


/********************************************************************************/
/******************** CONTACT ********************/
/********************************************************************************/
/* Third image (Contact) */
.hb-contact-bgimg {
  background-image: url("../img/background/contact-background.jpg");
}

.hb-contact-social {
  margin-bottom: 15px;
}

.contact-icon {
  display: inline-block;
  width: 23px; 
  height: 23px; 
  object-fit: cover;
  padding-right: 10px;
  opacity: 0.65;
}
/********************************************************************************/


/********************************************************************************/
/******************** ENTERPRISES ********************/
/********************************************************************************/
.hb-enterprise-data {
  text-align: left;
  padding: 5px;
}

.hb-enterprise-left {
  float:left;
  padding-right: 15px;
}



.hb-enterprise-block {
  margin: auto;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  padding: 15px;
  z-index: 10;
  background-color:white;
  border-radius: 20px 20px 0px 0px;
border:white solid 5px;
}

@media (max-width:649px) {
  .hb-enterprise-logo {
      float: left;
      height: 90px;
      width: 90px;
  }
}
@media (min-width:650px) {
  .hb-enterprise-logo {
    float:left;
    height:150px;
    width:150px;
  }
}


.hb-enterprise-arrow {
  width: 90px;
  height: 20px;
  box-shadow: 0px 5px 6px 3px rgba(0,0,0,0.5);
  cursor: pointer;
  border-radius: 0px 0px 10px 10px;
  z-index:2;
}

.hb-enterprise-block-a {
  margin-bottom: 20px;
  padding: 5px;
  z-index: 1;
  margin-top: -9px;
}

.hb-enterprise-blocright {
  float:right;
  text-align:left;

}

.hb-enterprise-technos {
  font-weight: bold;
  margin: 2px;
}

.hb-enterprise-date {
  font-style:italic;
}

.hb-enterprise-description {
  margin: 3px;
  padding: 20px;
  display: none;
  width: 99%;
  z-index: 2;
  margin: auto;
  box-shadow: 0px 5px 6px 1px rgba(0,0,0,0.5);
  border-radius: 0px 0px 20px 20px;
}
/********************************************************************************/


/********************************************************************************/
/******************** FORMATIONS ********************/
/********************************************************************************/
.hb-formation-logo {
  width:120px;
  float:left;
}

.hb-formation-desc {
  text-align: left;
  padding: 5px;
}

.hb-formation-left {
  float:left;
  margin-right: 10px;
}

.hb-formation-block {
  margin: auto;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  padding: 15px;
}
/********************************************************************************/


/********************************************************************************/
/******************** FOOTER ********************/
/********************************************************************************/
.hb-footer-social {
  float: left;
  text-align: left;
}

.hb-footer-logo {
  text-align: right;
}

#hb-footer-hb {
  padding: 6px;
}

#hb-footer {
  background-color: white;
  box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.16),0 -2px 10px 0 rgba(0,0,0,0.12);
  box-sizing: unset;
  background-color: #1f72b9cc;
}

.footer-icon {
  display: inline-block;
  height: 30px; 
  object-fit: cover;
  padding-right: 15px;
}

.inlineList {
   display: flex;
   flex-direction: row;
   /* Below sets up your display method: flex-start|flex-end|space-between|space-around */
   justify-content: flex-start; 
   /* Below removes bullets and cleans white-space */
   list-style: none;
   padding: 0;
   /* Bonus: forces no word-wrap */
   white-space: nowrap;
   margin: 5px;
   box-sizing: unset;
}
/********************************************************************************/



.slick-prev::before, .slick-next::before {
  color: black!important;
}
.hb-client-block {
  width: 200px;
  margin: 25px;
}

.hb-section-img {
  min-height: 100%;
  opacity: 0.75;
}

.hb-project-bgimg {
  background-image: url("../img/background/project-background.jpg");
}


.hb-enterprise-name {
  font-weight: bold;
}

.hb-modal {
    z-index: 3;
    display: none;
    padding-top: 60px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .hb-home-bgimg, .hb-code-bgimg, .bgimg-3 {
        background-attachment: scroll;
    }
}

.hb-animate-opacity {
    animation: opac 3s;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-name: opac;
}

/* Create a Parallax Effect */
.hb-home-bgimg, .hb-section-img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.hb-home-bgimg {
    background-image: url('../img/background/home-background.jpg');
    min-height: 100%;
    opacity: 0.75;
}

/* Second image (code) */
.hb-code-bgimg {
    background-image: url("../img/background/work-background.jpg");
}

.hb-home-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

@media (min-width:651px) {
  .hb-xp-small {
    
  }
}

.hb-skill-values {
  text-align: left;
}

.hb-skill {
  font-weight: bold;
}

